html, body{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Ubuntu";
    color: white;
    overflow-x: hidden;
    /* background-color: #35328C; */
    background: linear-gradient(123.3deg, #5A328C 0%, #35328C 121.09%);
}


.panel{
    /* height: 101vh;
    width: 101vw; */
    height: 100%;
    width: 101vw;
    text-align: center;
}


.backdrop{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    /* height: 101vh;
    width: 101vw; */

}

h1{
    font-weight: 700;
    font-size: 60px;
}

#innerPanel{
    padding-top: 14vh;
}

